// heading, body, footer...
/* 
* 8.11 scss: encapsulate
*/
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    /*  ????get rid of the ending animation  */
    &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 1rem;
    font-family: '8BITWONDERNominal';
    font-weight: normal; 
    font-style: normal; 

    /*  animation  */
    animation-name: moveInLeft;
    animation-duration: 2s;
    /*  in fast  */
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: .8rem;

        /*  animation  */
        animation-name: moveInRight;
        animation-duration: 2s;
    }
}

body {
    background-color: $color-grey-mid; 
    font-family: "Lato", sans-serif;
    font-weight: 400;        
    /*  how thick  */
/*    font-size: 16px;*/
    line-height:1.7;
    /*  height of each line  */
    color: $color-grey-dark;
/*    padding: 30px;        */
    padding: 3rem;
    /*  margin VS padding??  */
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    -webkit-background-clip: text;        // text color gradient effect
    color:transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    
    &:hover {
//        opacity: 0.5;
        transform: skewY(2deg) skewx(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
    
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}






