// center text
.u-center-text {
    text-align: center;
}

.u-margin-bottom-l {
    margin-bottom: 8rem;
}
.u-margin-bottom-m {
    margin-bottom: 4rem;
}
.u-margin-bottom-s {
    margin-bottom: 1.5rem;
}