// center text; margin
.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-l {
    margin-bottom: 8rem !important;
}
.u-margin-bottom-m {
    margin-bottom: 4rem !important;
}
.u-margin-bottom-s {
    margin-bottom: 1.5rem !important;
}