// 8.12 variablesï¼š
/* $color-background: rgba(50, 150, 200, 0.8); */
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
//$color-primary-light: #e27d60;

$color-grey-light: #f2f2f2;
$color-grey-mid: #ddd5d5;
$color-grey-dark: #777;
$color-grey-darker: #333;
$color-white: #fff;
$color-black: black;
$color-light-blue: #8ee4af;

$color-section-light-yellow: #efe356;

//grid
//$grid-width: 114rem;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$default-font-size: 1.6rem;


//tour cards
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;